@font-face {
    font-family: myFont;
    src: url(font/Quicksand-VariableFont_wght.ttf);
}
body{
    background-color: #1F1D38;
}

nav{
    background-color: #ed192a;
}

.navbar-brand{
    font-size: 25px;
}

.container{  
    margin-top: 5%;     
}

.bsu-logo{
    display: block;
    max-height: 50px;
}

.header-con{
    max-width: 200px;
    font-family: 'Times New Roman';
}

.col{
    color: rgb(0, 0, 0);
    background-color: rgb(137, 136, 136);
}

.section2{
    margin-top: 100px;
    padding-top: 30px;
    background-color: #151924;
    font-family: 'Times New Roman';
}

.container2{
    height: 350px; /* or any fixed height */
    overflow: hidden; /* hides any overflow content */
    position: relative; /* makes sure child divs stay within the container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor1{
    margin: 5px 50px 5px 50px;
    height: 350px;
    width: 150vh;
}